body {
    color:#000000;
    margin:0;
    padding:0;
    word-spacing:2.1pt;
    font-family : "Times New Roman", Times, serif;
    font-size : 14px;
    width:100%;
}

a {
    visibility :hidden;
    display : none;
}

input{
    display : none;
}

table { margin: 1px; text-align:left; }

#send_submit_btn,#ln_solid,#list,#head,#cont,#fotter,#oth,#links,#name,li,ul,ol {
    display : none;
}